<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  h1{
    font-size: 2em;
    text-align: center;
  }
</style>

<main class="main">
  <div>
    <app-componente1>

    </app-componente1>
  </div>
  
  <div>
    <h1>Ejercicio 1</h1>
    <app-ejercicio1 [nombre] = "'Daniel'">
     
    </app-ejercicio1>
  </div>
  
  <div>
    <h1>Ejercicio 2</h1>
    <app-ejercicio2></app-ejercicio2>
  </div>
  
  <div>
    <h1>Ejercicio 3</h1>
    <app-ejercicio3></app-ejercicio3>
  </div>

  <div>
    <h1>Ejercicio 4</h1>
    <app-ejercicio4></app-ejercicio4>
  </div>

  <div>
    <app-ejercicio5 (comentarioEnviado)="onComentarioEnviado($event)"></app-ejercicio5>
  
    <ul>
      <li *ngFor="let comentario of comentariosRecibidos">
        {{ comentario }}
      </li>
    </ul>
  </div>
  
  
  
</main>

<router-outlet />
